*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background: url("images/background.png");
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
    padding: 10px 15px;
}

h1 {
    font-size: 48px;
    color: #7CFC00;
    text-shadow: -3px 3px 2px #fff;
    margin: 20px 0;
}

.game {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.level { 
    width: 200px;
    border: 2px solid #7CFC00;
    background-color: white; 
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.level h1 {
    font-weight: bold;
    color: #7CFC00;
    font-size: 30px;
}

.level button {
    background-color: #7CFC00;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.level button:hover {
    background-color: #41db22;
}

canvas {
    border: 3px solid #7CFC00;
    background-color: #fff;
    display: block;
    border-radius: 15px;
}

.score-gameover {
    width: 200px;
    border: 2px solid #7CFC00;
    background-color: white;
    color: #7CFC00;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.score {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.score-gameover h2 {
    margin: 0;
    font-size: 30px;
}

.controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.controls button {
    background-color: #7CFC00;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    font-size: 25px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid #fff;
}

.controls button:hover {
    background: #41db22;
}